.projects{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 400px;
    font-size: 20px;
    // background-color: lightpink;
}

@media all and (max-width: 990px) {
    .projects{
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 1000px;
        font-size: 20px;
    }
    
}