.services-page {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 100%;
}

.services-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 15px;
  justify-content: center;
  text-align: center;
}

.services-link {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  height: 250px;

  .link-image {
    max-width: 100px;
  }

}